.chat {
    background-color: #ffe9dc;
  }
  
  .chat .messages {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .chat .message {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 80%;
    padding: 10px;
    position: relative;
  }
  
  .chat .message .title {
    color: orange;
    font-size: 90%;
    margin-bottom: 3px;
  }
  
  .chat .message.sent {
    align-self: flex-end;
    background-color: #91ec91;
  }
  
  /* Flechitas en las burbujas */
  .chat .message:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0
  }
  
  .chat .message.sent:before {
    right: -7px;
    border-top: 10px solid #91ec91;
    border-right: 10px solid transparent;
  }
  
  .chat .message.rcvd:before {
    left: -7px;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
  }
  
  /* Footer */
  .chat .footer {
    padding: 10px;
  }
  
  .chat .footer input {
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
    padding: 8px 20px;
    width: 100%;
    outline: 0;
  }
  