.app {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.app .user-list {
  padding: 10px 30px;
  margin: 0;
  background-color: #ccc;
}

.app .ficha-y-boton {
  padding: 30px;
}

.user .button {
  margin-left: 30px;
}





