html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: stretch;
  min-height: 100vh
}

.app .comment-list {
  padding: 10px 30px;
  margin: 0;
  background-color: #ccc;
}

.app .comment-list .active {
  color: red;
}

.app .ficha-y-boton {
  padding: 30px;
  margin-left: 200px;
}
